body {
    background-color: #c5dec4;
}
#nube{
    color: aliceblue;
    opacity: 0.5;
    font-size: 10em;
    left: 5em;
}
.titulo{
    position: relative;
    display: inline-block;
}
#titulo{
    position: absolute;
    top: 0em;
    left: 5em;
    font-family: 'Open Sans Condensed', sans-serif;
}
.article{
    background-color: whitesmoke;
}